* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




header {
    padding: 10% 20px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    background-image: url(./Fotillos/header.jpg);
    background-size: cover;
    background-attachment: fixed;
}





.columna {
    flex: 1;
    text-align: center;
  }

#section1 {
    text-align: center;
}

.gallery {
    width: 33.33%;
    float: left;
}

.gallery>img {
    width: 100%;
}




#section2 .column-1 {
    width: 100%;
    float: left;
    background: #5f9ea0;
    text-align: center;
    color: white;
}



#section3 .column-2 {
    width: 50%;
    float: left;
}

#map {
    width: 100%;
    height: 450px;
    border: 0;
}




#section4 .column-3 {
    width: 33.33%;
    float: left;
    
 
    text-align: center;
    background-color: #21252995;
    height: 100px;
}

.column-3>p {
    color: rgb(201, 253, 253);
}

.column-3>h1 {
    font-size: 25px;
}

a {
    color: rgb(190, 252, 252);
    text-decoration: none;
    list-style-type: none;
}

li {
    list-style-type: none;
}


@media screen and (max-width: 600px) {
    header h1 {
        font-size: 45px;
    }
    header h2 {
        font-size: 25px;
    }
    header {
        padding: 50px;
    }
    #section1 .gallery {
        width: 100%;
    }
    #section3 .column-2 {
        width: 100%;
    }
    #section2 #section3 {
        padding-left: 5px;
        padding-right: 5px;
    }
    #section4 > #title{
        width: 100%;
    }
    #section4>.column3 {
        width: 50%;
    }
    
    .relleno-lateral {
        padding-left: 2%;
        padding-right: 2%;
    }

    #section1 > .column-1{
        width: 100%;
    }
    #section1 > .gallery{
        width: 50%;
    }


#section5 {
    width: 100%;
    float: left;
    background: black;
    text-align: center;
    
 
    color: white;
    height: 40px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.relleno-lateral {
    padding-left: 9%;
    padding-right: 9%;
}

.relleno-columnas {
    padding: 20px;
}

.relleno-imagenes{
    padding: 50px;
}

